.noticias {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto); 

  grid-gap: 10px;
}

.noticias a {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  margin: 0 auto;
  height: 100vh;
}

.artigo {
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #666;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: auto;
  margin: 10px;
}

.artigo:hover,
.artigo:focus {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  /* width: 105%;
  transition: 10s;
  z-index: 10; */
  color: #444;
}

.artigo-image {
  background: #eee;
  display: block;
  padding-top: 75%;
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.artigo-image img, .artigo-image iframe  {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.artigo-content{
  text-align: center;
  padding: 10px;
}

.artigo-body {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.artigo-title {
  color: #333;
  flex-shrink: 0;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.2;
}

.artigo-info {
  display: flex;
  font-size: 0.85em;
  justify-content: space-between;
  margin-top: 10px;
}

.date{
  font-weight: bold;
}

@media screen and (max-width: 1000px) {
  .noticias{
    grid-template-columns: auto;
  }
  .artigo{
    grid-column-end: none;
  }
}

