main{
justify-content: center;
align-items: center;
}
.content{
    height: 100%;
    font-size: 1.4em;
}
.content p{
    padding: 20px;
    text-align: center;
    font-size: 1.3em;
}
.fontes{
    height: 70%;
    
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fontes li a{
    padding: 10px;
    font-weight: bold;
    
}
.fontes li a:hover{
    color: rgba(128, 62, 190,.6);
}
