.container-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-img img {
  width: 120px;
}

.rounded {
  border-radius: 50%;
}

.social-medias {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}
.social-medias a{
  padding: 10px;
}

.social-medias img {
  width: 40px;
}


main {
  margin-top: 5%;
  
  display: flex;
  flex-direction: column;
  height: auto;
  justify-items: center;

  overflow-y: hidden;
}

.content {
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;

  align-items: center;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

div {
  margin: 10px;
}

.container {
  font-size: 1.4em;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
