main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 750px;
  overflow-y: hidden;

  justify-content: center;
  align-items: center;
  
  padding: 1%;
}

main iframe html {
  overflow-y: hidden;
}
